body{
    margin: 0px;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 80vh 20vh;
    grid-template-areas: 
    "form zadania"
    "form wykres";
}

#form{
    grid-area: form;
}

#zadania{
    grid-area: zadania;
    display: flex;
    flex-direction: row;
    gap:10px;
}

.todo{
    background-color: pink;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
}